easily generate social links from a url and description, just start typing
%br
%br
%form
  %fieldset
    %label{name: "url"}
      %span.text url
      (
      %span.icon-facebook
      %span.icon-twitter
      %span.icon-linkedin
      %span.icon-google-plus
      %span.icon-tumblr
      )
      %input{name: "url"}
    %label{name: "title"}
      %span.text title
      (
      %span.icon-twitter
      %span.icon-linkedin
      %span.icon-tumblr
      )
      %input{name: "title"}
    %label{name: "source"}
      %span.text source
      (
      %span.icon-linkedin
      %span.icon-tumblr
      )
      %input{name: "source"}
.results
  %br
  %span.icon-facebook
  %br
  %span.icon-twitter
  %br
  %span.icon-linkedin
  %br
  %span.icon-google-plus
  %br
  %span.icon-tumblr
.footer
  crafted for fun and utility by
  %a{href: "http://zfeldman.com"} @zachfeldman
  %br
  %iframe{:allowtransparency => "true", :frameborder => "0", :height => "20", :scrolling => "0", :src => "http://ghbtns.com/github-btn.html?user=zachfeldman&repo=easilyshare.it&type=fork", :width => "62"}
  %iframe{:allowtransparency => "true", :frameborder => "0", :height => "20", :scrolling => "0", :src => "http://ghbtns.com/github-btn.html?user=zachfeldman&repo=easilyshare.it&type=follow", :width => "62"}
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33609720-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();