!!!
%html
  %head
    %title easilyshare.it - easy social sharing
    %link{href: "bootstrap.css", type: "text/css", rel: "stylesheet"}
    %link{href: "font-awesome.min.css", type: "text/css", rel: "stylesheet"}
    %link{href: "style.css", type: "text/css", rel: "stylesheet"}
    %script{src: "jquery.min.js"}
    %script{src: "easily_share_it.js"}
  %body
    .row-fluid
      .span6.offset2
        %br
        %h1 easilyshare.it
        =yield
